@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url(markdown.css);
@tailwind base;
@tailwind components;
@tailwind utilities;


.urbanist-100 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.red-hat-display-100 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

html, body {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.h1 {
    @apply text-4xl  text-gray-800;
}

.btn {
    @apply rounded-sm;
}

.btn:hover {
  background-color: hsl(270, 100%, 60%);
  border-color: transparent;
  color: white
}

.text-color-base {
  color: hsl(270, 100%, 60%)
}

.color-emoji {
  /*color: hsl(53, 100%, 49%);*/
  color: hsl(270, 100%, 60%);
  font-size: 1.8rem;
  font-weight: 900;
}
