<section class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center z-auto">
      <div class="max-w-md flex flex-col gap-6 items-center">
        <h1 class="text-5xl font-bold">Hola <span class="color-emoji">(^_^)</span></h1>
        <p class="text-xl">Me llamo Sandra Cabello, me dedico al diseño y desarrollo de interfaces.</p>
        <p class="italic">"En el diseño tiene que darse a la vez ambos: solución y belleza."</p>
        <p>
          <a class="inline-flex border-b-2 border-transparent hover:border-black border-bottom" href="https://www.linkedin.com/in/sandra-cabello-jurado-0378a7112/" target="_blank">
            Contacta conmigo en:
            <img src="/public/icon-linkedin.svg" />
          </a>
        </p>

        <a href="/#projects" class="btn btn-primary w-fit m-0">Mis Proyectos</a>
      </div>
    </div>
  </section>